html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.something {
  background-color: red;
}


@layer components {
  .icon-primary {
    @apply cursor-pointer hover:text-gray-900 active:text-gray-700 h-14 w-14 text-gray-700;
  }
  .login-form-input {
    @apply focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md
  }
}
.w-video-feed {
  width:650px;
}
